<div class="horizontal-menu">
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Blog page</a></li>
    <li><a href="/why-us">Why us?</a></li>
    <li><a href="/photos">Photos</a></li>
    <li><a href="/about-us">About us</a></li>
</div>