<%= render 'tables/horizontal-menu' %>

<h1>The biggest</h1>
<h2>A little bit smaller</h2>
<h3>Smaller than previous</h3>

<div style="background: pink;">
    This is div
</div>

<span style="background: yellow;">
    And this is span
</span>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at elit a ante pellentesque varius. Aliquam imperdiet nulla a elit mattis rhoncus. Maecenas ut porta odio. Ut accumsan risus non malesuada maximus. Fusce vitae viverra libero. Fusce luctus ac lacus in sagittis. Etiam ultricies arcu et mauris mollis, nec imperdiet ipsum accumsan.</p>

<p>Praesent non luctus ipsum. Etiam id varius orci. Nunc nisi tortor, fringilla vitae egestas eu, sollicitudin id nisl. Phasellus aliquam magna diam, sit amet semper nulla convallis eu. Pellentesque tempor eget tortor at faucibus. Ut eu lacus eget est iaculis tempus quis sed tellus. Fusce congue convallis sollicitudin. Vivamus sit amet ligula ligula. Aenean gravida justo eros, aliquam porttitor justo vestibulum ac. Aliquam erat urna, efficitur varius dui a, bibendum molestie nisl. Duis commodo dignissim pretium. Sed porta diam leo, a finibus leo vulputate id. Vivamus quam magna, venenatis ut cursus non, faucibus sit amet erat. Sed a nibh ante. Nulla tempor leo vitae metus lacinia, et porta magna congue. Nunc vel diam at ante posuere iaculis.</p>

<p>Nulla ac dictum ipsum. Vestibulum vitae lobortis ante. Donec nec maximus nisi. Nunc nec molestie mauris. Proin cursus pretium dapibus. Vestibulum nibh ante, porta vel sodales et, molestie ut nunc. Aenean non odio nisl. Donec ac venenatis erat. Quisque pellentesque ac odio sit amet vehicula. Proin tempor ipsum sit amet purus volutpat mattis.</p>


<h2>Li</h2>
<ul>
    <li>one</li>
    <li>two</li>
    <li>three</li>
</ul>

<h2>Ol</h2>
<ul>
    <ol>one</ol>
    <ol>two</ol>
    <ol>three</ol>
</ul>

<h2>Table</h2>
<table>
    <tr>
        <td>123</td>
        <td>123</td>
        <td>123</td>
    </tr>
    <tr>
        <td>123</td>
        <td>123</td>
        <td>123</td>
    </tr>
</table>

<img src="https://thumbs-prod.si-cdn.com/P6ExZg3V_usbPv9W77VkyGzi7n0=/800x600/filters:no_upscale()/https://public-media.smithsonianmag.com/filer/9d/f5/9df541d1-be62-4f69-bcbe-2fe59647b022/milkyway.jpeg"></img>

<map name="primary">
  <area shape="circle" coords="75,75,75" href="/blog">
  <area shape="circle" coords="275,75,75" href="/">
</map>
<img usemap="#primary" src="https://placehold.it/350x150" alt="350 x 150 pic">